* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bug {
  background-color: #2c3333;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bug-name {
  font-size: 1.75rem;
  color: #a5c9ca;
}

.top {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  column-gap: 1rem;
  align-items: center;
}

.top-left {
  display: flex;
}

.priority-div,
.member-div {
  display: flex;
  flex-direction: column;
}

.priority,
.assigned,
.status-label {
  font-weight: 700;
  font-size: 1.25rem;
}

.priority {
  color: #d61c4e;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-label {
  margin-right: 0.5rem;
}

.status {
  background-color: #a5c9ca;
  font-weight: 700;
}
