.button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2c3333;
  color: #a5c9ca;
  cursor: pointer;
  border: solid;
  border-color: #a5c9ca;
}

.button:hover {
  font-weight: 700;
  background-color: #a5c9ca;
  color: #2c3333;
}
